*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

header {
  background-color: gray;
}

nav {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}

.navbar li a {
  padding: 1rem;
  color: black;
}

.navbar li a:hover {
  background-color: rgba(0, 238, 255, 0.849);
}

input[type="text"] {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border: 1px solid white;
  border-radius: 0.3rem;
  margin-right: 1rem;
}
input[type="text"]::placeholder {
  text-transform: capitalize;
  font-weight: 600;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar {
    flex-direction: column;
    width: 100%;
  }
  #search {
    margin-left: 1rem;
    width: 90%;
  }
}
